* {
  margin: 0;
  padding: 0;
}

#chat {
  height: calc(100vh - 2.5em);
  overflow-y: scroll;
}

.message {
  margin: 0.5em;
}

.name {
  font-weight: bold;
  float: left;
}

.id {
  color: gray;
}

#commit {
  position: fixed;
  bottom: 3em;
}

.img {
  width: 40%;
  height: auto;
}

#form {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  padding-left: 1em;
  background: rgb(9, 10, 21);
}

#namae {
  width: 10%;
}

#msg {
  width: 40%;
}

#range {
  width: 5%;
}

#color {
  width: 5%;
}

#font {
  width: 10%;
}

#font option[value="sans-serif"] {
  font-family: sans-serif;
}

#font option[value="Yusei Magic"] {
  font-family: 'Yusei Magic', sans-serif;
}

#font option[value="Hachi Maru Pop"] {
  font-family: 'Hachi Maru Pop', sans-serif;
}

#font option[value="DotGothic16"] {
  font-family: 'DotGothic16', sans-serif;
}

label {
  margin-left: 0.5em;
  color: white;
}

label input {
  display: none;
}